#contact-us {
  padding-top: 50px;
  text-align: center;
  color: var(--blue-color);
  height: 800px;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.section-title div {
  height: 5px;
  width: 80px;
  background-color: var(--yellow-color);
}

.google-maps-location iframe {
  width: 100%;
  max-width: 1000px;
  margin: 20px 0;
}

.contact-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.contact-location,
.contact-mobile {
  width: 200px;
}