#services{
  height: 700px;
  flex-direction: column;
  display: flex;
  align-items:center ;
}

.services-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.service{
  height: 400px;
  width: 320px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.service-photo{
  width: 100%;
  height: 50%;
  background-color: var(--yellow-color);
}

.servive-info{
  width: 100%;
  height: 50%;
  padding-right: 13px;
}

.service-title{
  font-weight: 700;
  font-size: 20px;
  text-align: right;
}

.service-text{
  text-align: right;
  padd
}

.services-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin: 50px 0;
}

.services-title div {
  height: 5px;
  width: 80px;
  background-color: var(--yellow-color);
}

@media (max-width: 680px) {

  .services-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #services{
    height: 1500px;
  }
  
}